:root{
  --h3-font-size: 1rem;
  --first-color: hsl(230, 62%, 56%);
  --second-font: "Montagu Slab", serif;

}
.footer{
padding-block: 4rem 6rem;
}
.footer-container{
    row-gap: 3rem;
}


.footer-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--first-color);
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
    font-family: var(--second-font);
}

.footer-data{
    grid-template-columns: repeat(2, max-content);
    gap: 3rem 2rem;
}

.footer-title{
    font-size: var(--h3-font-size);
}

.footer-con{
    display: flex;
    flex-direction: column;

}

/* .footer-link{
    display: flex;
    flex-direction: column;

} */