/*========== Colors ==========*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

#company-Name{
    padding-left: 40px;
    color: var(--title-color);
    font-weight: bold;
    font-size: 30px;
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transform: box-shadow .4s, background-color .4s;

}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    display: flex;
    gap: 5px;
    color: var(--text-color);
    transition: color .4s;
}

.nav__menu{
    padding: 20px 40px;
    width: 70%;

}
.nav__link:hover{
    color: var(--first-color);
}

.nav__action{
    display:flex;
    align-items: center;
    column-gap: 16px;
}

.search-button :hover, .login-button :hover, .change-theme :hover{
    /* color:red */
    color: var(--first-color);
}

ul{
    list-style: none;
}
a {
  text-decoration: none;
}

@media screen and (max-width:800Px){
    .nav__menu{
        position: fixed;
        bottom:0;
        left: 0;
        right:0;
        width:100%;
        background-color: var(--container-color);
        box-shadow: 0 -8px 32px hsla(0,0%, 0%, .1);
        padding: 1.25rem 4rem;
        transition: background-color .4s;
    }
    .nav__link span{
    display: none;
}
}


/* Search Bar Styles */
.search-bar {
    display: flex;
    align-items: center;
    border: var(--border-color);
    border-radius: 5px; 
    padding: 5px; 
    width: 100%;
    max-width: 400px; 
    background-color: var(--body-color); 
  }
  
  .search-bar input {
    flex: 1; 
    border: none;
    outline: none; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 16px;
  }
  
  .search-bar button {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    color: var(--text-color); 
    font-size: 20px; 
    padding: 0 10px; 
  }
  
  .search-bar button:hover {
    color: var(--first-color);
  }
  
h2{
    font-size: var(--h2-font-size);
    margin-bottom: 10px;
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: var(--z-fixed);
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Add spacing between the error message and other elements */
  .error-message {
    color: red;
    margin-bottom: 15px; 
  }
  
  .form-group {
    margin-bottom: 10px; /* More spacing between each form element */
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    width: 100%;
    border: var(--border-color);
    border-radius: 5px;
  }

  .extra-links {
    margin-top: 10px;
    text-align: center;
  }
  
  .extra-links p {
    margin: 5px 0;
    font-size: var(--small-font-size);
    margin-bottom: 10px;
  }
  
  .extra-links a {
    color: var(--first-color); 
    text-decoration: none;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
  }
  .submit-btn, .close-btn {
    margin-top: 10px;
    padding: 8px 15px;
    border: var(--border-color);
    background-color: var(--body-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-btn {
    background-color: var(--body-color);
  }

