/* src/pages/ReviewsPage.css */
/*========== Colors ==========*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/*========== General Styles ==========*/
body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.testimonial {
    padding: 2rem 0; 
    text-align: center;
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 2rem; 
}

.testimonial__container {
    display: flex;
    justify-content: center; 
    align-items: stretch; 
    overflow-x: auto; 
    gap: 2rem; 
    padding: 0 1rem; 
}

.testimonial__card {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 10px; 
    padding: 1.5rem; 
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    text-align: justify;
}

.testimonial__image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin: 0 auto; 
}

.testimonial__title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin: 1rem 0; 
}

.testimonial__description {
    font-size: var(--normal-font-size);
    margin: 0.5rem 0;
    flex-grow: 1; 
}
.testimonial__stars {
    display: flex;
    justify-content: center; 
    gap: 0.2rem; 
}

.testimonial__stars {
    color: #FFD700; 
}

