/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

*{
    margin: 0px;
    padding: 0px;
}

big-container{
    padding-left: 1000px;
    /* width: 100vw; */
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color:hsl(230, 100%, 96%); */
}

ul{
    display: flex;
    list-style: none;
    transition: all 1s ease;
}

.slider{
    padding-left: 140px;
    width: 600px;
    height: 500px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 3px 20px 15px 0px rgba(0,0, 0, 0.15);
}
img{
    width: 312px;
    height:450px;
    border-radius: 3px;
    align-items: center;

}

.pagination-dots{
    padding-left: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.dot{
width: 20px;
height: 6px;
border-radius: 5px;
background-color: rgb(100, 113, 248);
}

.dot.active{
    background-color: brown;
}
/* 
.image-container{
    border: 1px solid black;
    width: 300px;
    height: 300px;
}
.small-container{
    text-align:right;
    padding: 0px;
    margin: 0px;
    width: '200px';
    height: '400px';
    /* position: relative; */
    /* animation-name: coloredbox;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    /* animation-timing-function: step-end; property tells the animation to jump to the end of each keyframe immediately. This will create a more abrupt and distinct jump between positions. */


